.TopBar {
  display: flex;

  flex-direction: row;

  justify-content: center;
  align-items: center;

  border-bottom: 1px solid #f0f0f0;

  div {
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin: 0 1.5rem;
    padding: 0.5rem;

    font-size: 12px;

    color: #9f9f9f;

    cursor: default;

    img {
      margin: 0 0.25rem;
    }

    mark {
      background-color: transparent;

      color: #3019b2;

      font-weight: 600;

      margin: 0 0.25rem;
    }
  }
}

@media (max-width: 992px) {
  .TopBar {
    div {
      margin: 0 0.5rem;
      padding: 0.5rem 0.25rem;

      font-size: 10px;
    }
  }
}

@media (max-width: 586px) {
  .TopBar {
    display: flex;

    flex-direction: row;

    justify-content: space-around;

    div {
      display: flex;

      flex-direction: column;
    }
  }
}
